body {
  padding-bottom: 40px;
}

.pagination {
  width: 100%;
  display: flex;
  justify-content: center;
}

.load-more {
  display: none;
  background-color: #2573e1;
  width: 100px;
  border: none;
  text-align: center;
  color: white;
  padding: 5px;
  justify-content: center;
  cursor: pointer;
}
